
@{
    ViewBag.Title = "Users";
}



<div class="jumbotron">
    <h1>Sistema de Registro con Login</h1>
    <p class="lead">mMantenimiento de Registro con Login utilizando DBML.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Leer Mas &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET

        </p>
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET

        </p>
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET

        </p>
    </div>
</div>